@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
  background: @base;
  padding: 5px 5px;
  margin: 3px 0px;
  margin-top: 5px;
}

#taskbar,
#taskbar button:hover {
  background: transparent;
  border: none;
  box-shadow: none;
}

#workspaces {
  border-radius: 15px;
  padding: 5px 5px;
  margin-left: 10px;
  margin-right: 5px;
  background: @mantle;
}
#workspaces button {
  padding: 6px;
  margin-right: 3px;
  margin-left: 3px;
  color: @subtext0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @base;
  background: @mauve;
  border-radius: 8px;
}

#workspaces button.focused {
  color: @text;
  background: linear-gradient(135deg, @blue, @lavender);
}

#workspaces button.urgent {
  color: @crust;
  background: linear-gradient(135deg, @red, @peach);
}

#workspaces button:hover {
  background: @overlay1;
  color: @crust;
}

#memory {
  color: @sky;
  border-radius: 15px 0px 0px 15px;
  padding-left: 15px;
  margin-left: 5px;
}

#cpu {
  color: @red;
}

#backlight {
  color: @mauve;
}

#pulseaudio {
  color: @peach;
  border-radius: 0px 15px 15px 0px;
  margin-right: 5px;
  padding-right: 15px;
}

#window {
  border-radius: 15px;
  padding: 5px 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#tray {
  color: @teal;
  border-radius: 15px;
}

#network {
  color: @flamingo;
  border-radius: 15px 0px 0px 15px;
  padding-left: 15px;
  margin-left: 5px;
}

#battery {
  color: @green;
}

#clock {
  color: @levender;
  border-radius: 0px 15px 15px 0px;
  padding-right: 15px;
  margin-right: 10px;
}
